<section class="header">
  <div class="container-fluid top--part">
    <div class="container">
      <div class="row">
        <ul>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              HOME
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              ABOUT US
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              PRICES
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              DISCOUNTS
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              GUARANTEES
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              FAQ
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              BEWARE
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              CONTACT US
            </a>
          </li>
          <li>
            <a href="#" class="col-sm-auto top--part_buttons ">
              BLOG
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid "></div>
</section>
