<main class="main">
  <div class="container-fluid main--order_part">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="main--header_2  main--header_2_arrow">
            <span class="main--header_2_font_1">Get a price quote</span>
            <span class="main--header_2_font_2"> 15 </span>
            <span class="main--header_2_font_3"> %OFF</span>
            <span class="main--header_2_font_4">YOUR FIRST ORDER</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 main--item">
          <label>TITLE OF YOUR PAPERS</label>
          <select></select>
        </div>
        <div class="col-md-4 main--item">
          <label>ACADEMIC LEVEL</label>
          <select></select>
        </div>
        <div class="col-md-4 main--item">
          <label>SPACING</label>
          <select></select>
        </div>
        <div class="col-md-4 main--item">
          <label>URGENCY</label>
          <select></select>
        </div>
        <div class="col-md-4 ">
          <span class="main--item_font_1 ">TOTAL PRICE</span>
          <span class="main--item_font_2 ">16.99</span>
          <span class="main--item_font_3">USD</span>
        </div>
        <div class="col-md-4 ">
          <a href="#" class="main--item-order_now main--item-order_now-font"
            >ORDER NOW</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid main--read_more">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="main--read_more-header_2 main--read_more-header_2-font">
            Essay writing is challenging, difficult and time-consuming
          </h2>
          <p class="main--read_more_text">
            Are students overseas concerned about different research papers
            writing? Certainly yes! It is often much harder for them to keep up
            with written essay assignments, especially at higher level
            education. Though they may study hard, but they may still be
            disappointed with the grades they get for their coursework. The
            recipe for success is to create a genuinely good research paper with
            a unique angle. When this is strengthened with good editing and a
            plagiarism test, you have an opportunity to get a grade winning
            essay.
          </p>
          <p class="main--read_more_text">
            If you are thinking you can't write your essay well enough and you
            need professional assistance, then you are thinking along the right
            lines. When your tutors read the essay we provide, they will love
            it. They will think you wrote it and they will admire the way it is
            written, so you are likely to get an A grade.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 main--descs_1">
          <span class=" main--read_more-descs_1"></span>
          <h4 class="main--read_more-header_4-font">
            All your standards will be meet
          </h4>
          <p class="main--read_more_description_1">
            These days, on a monthly basis, countless students buy essays from
            professional writing service providers. And, guess what? This is no
            big surprise. There are many students who aren't very skilled at
            writing and cannot produce good-quality, accurately referenced and
            perfectly edited custom papers on their own.
          </p>
          <a href="#" class="main--btn_read_more_1">READ MORE »</a>
        </div>
        <div class="col-md-3 main--descs_2">
          <span class=" main--read_more-descs_2"></span>
          <h4 class="main--read_more-header_4-font">
            Our professional writers can make all the difference for students
          </h4>
          <p class="main--read_more_description_2">
            As a market-leading provider of essay help, we have unquestionable
            experience and a well-established reputation in our field. Our main
            objective is to lend our assistance to students all around the globe
            so that they may succeed in their academic endeavors and in every
            aspect of their lives. If you buy your papers from us online, you
            will be able to manage your busy schedule better and devote more
            time to friends and family or use it for other more pressing
            matters, whether they are personal or business-related.
          </p>
          <a href="#" class="main--btn_read_more_2">READ MORE »</a>
        </div>
        <div class="col-md-3 main--descs_3">
          <span class=" main--read_more-descs_3"></span>
          <h4 class="main--read_more-header_4-font">
            Five good reasons to partner BestWritingHelp.org
          </h4>
          <p class="main--read_more_description_3">
            All said, there are five good reasons that make us the best and most
            professional service provider with over 90% of our customers placing
            repeat orders.
          </p>
          <ul>
            <li>
              Original content: All papers are fully free of plagiarism
            </li>
            <li>
              Punctuality: With over 2000 writers, all papers are delivered on
              time
            </li>
            <li>
              Legitimate ordering process: We use trustworthy billing methods
              e.g. Payoneer, PayPal and similar
            </li>
          </ul>
          <a href="#" class="main--btn_read_more_3">READ MORE »</a>
        </div>
        <div class="col-md-3 main--descs_4">
          <span class=" main--read_more-descs_4"></span>
          <h4 class="main--read_more-header_4-font">
            There is a solution if you buy essays from us
          </h4>
          <p class="main--read_more_description_4">
            It may surprise you to learn that one in four students use the
            services of custom writing companies. It is entirely reasonable to
            look for essay help from experts when you have an overly complex
            assignment. If you do, you will:
          </p>
          <ul>
            <li>Gain some free time for yourself</li>
            <li>Get improved grades</li>
            <li>Be equal to the best students on your course</li>
            <li>Win the admiration of your tutors</li>
          </ul>
          <a href="#" class="main--btn_read_more_3">READ MORE »</a>
        </div>
      </div>
    </div>
  </div>
</main>
