@font-face {
  font-family: "robotoblack";
  src: url("../fonts/Black/roboto-black-webfont.eot");
  src: url("../fonts/Black/roboto-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Black/roboto-black-webfont.woff2") format("woff2"),
    url("../fonts/Black/roboto-black-webfont.woff") format("woff"),
    url("../fonts/Black/roboto-black-webfont.ttf") format("truetype"),
    url("../fonts/Black/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-black: robotoblack;

@font-face {
  font-family: "robotobold";
  src: url("../fonts/Bold/roboto-bold-webfont.eot");
  src: url("../fonts/Bold/roboto-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Bold/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/Bold/roboto-bold-webfont.woff") format("woff"),
    url("../fonts/Bold/roboto-bold-webfont.ttf") format("truetype"),
    url("../fonts/Bold/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-bold: robotobold;

@font-face {
  font-family: "robotobold_italic";
  src: url("../fonts/BoldItalic/roboto-bolditalic-webfont.eot");
  src: url("../fonts/BoldItalic/roboto-bolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BoldItalic/roboto-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/BoldItalic/roboto-bolditalic-webfont.woff") format("woff"),
    url("../fonts/BoldItalic/roboto-bolditalic-webfont.ttf") format("truetype"),
    url("../fonts/BoldItalic/roboto-bolditalic-webfont.svg#robotobold_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-bold_italic: robotobold_italic;

@font-face {
  font-family: "roboto_condensedbold";
  src: url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.eot");
  src: url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.woff")
      format("woff"),
    url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.ttf")
      format("truetype"),
    url("../fonts/Condensed-Bold/robotocondensed-bold-webfont.svg#roboto_condensedbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-condensedbold: roboto_condensedbold;

@font-face {
  font-family: "roboto_condensedlight";
  src: url("../fonts/Condensed-Light/robotocondensed-light-webfont.eot");
  src: url("../fonts/Condensed-Light/robotocondensed-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Condensed-Light/robotocondensed-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Condensed-Light/robotocondensed-light-webfont.woff")
      format("woff"),
    url("../fonts/Condensed-Light/robotocondensed-light-webfont.ttf")
      format("truetype"),
    url("../fonts/Condensed-Light/robotocondensed-light-webfont.svg#roboto_condensedlight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-condensedlight: roboto_condensedlight;

@font-face {
  font-family: "roboto_condensedregular";
  src: url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.eot");
  src: url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.woff")
      format("woff"),
    url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.ttf")
      format("truetype"),
    url("../fonts/Condensed-Regular/robotocondensed-regular-webfont.svg#roboto_condensedregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-condensedregular: roboto_condensedregular;

@font-face {
  font-family: "robotolight";
  src: url("../fonts/Light/roboto-light-webfont.eot");
  src: url("../fonts/Light/roboto-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Light/roboto-light-webfont.woff2") format("woff2"),
    url("../fonts/Light/roboto-light-webfont.woff") format("woff"),
    url("../fonts/Light/roboto-light-webfont.ttf") format("truetype"),
    url("../fonts/Light/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-light: robotolight;

@font-face {
  font-family: "robotomedium";
  src: url("../fonts/Medium/roboto-medium-webfont.eot");
  src: url("../fonts/Medium/roboto-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Medium/roboto-medium-webfont.woff2") format("woff2"),
    url("../fonts/Medium/roboto-medium-webfont.woff") format("woff"),
    url("../fonts/Medium/roboto-medium-webfont.ttf") format("truetype"),
    url("../fonts/Medium/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-medium: robotomedium;

@font-face {
  font-family: "robotomedium_italic";
  src: url("../fonts/MediumItalic/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/MediumItalic/roboto-mediumitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MediumItalic/roboto-mediumitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/MediumItalic/roboto-mediumitalic-webfont.woff") format("woff"),
    url("../fonts/MediumItalic/roboto-mediumitalic-webfont.ttf")
      format("truetype"),
    url("../fonts/MediumItalic/roboto-mediumitalic-webfont.svg#robotomedium_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-medium_italic: robotomedium_italic;

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/Regular/roboto-regular-webfont.eot");
  src: url("../fonts/Regular/roboto-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Regular/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/Regular/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/Regular/roboto-regular-webfont.ttf") format("truetype"),
    url("../fonts/Regular/roboto-regular-webfont.svg#robotoregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-regular: robotoregular;

@font-face {
  font-family: "robotothin";
  src: url("../fonts/Thin/roboto-thin-webfont.eot");
  src: url("../fonts/Thin/roboto-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Thin/roboto-thin-webfont.woff2") format("woff2"),
    url("../fonts/Thin/roboto-thin-webfont.woff") format("woff"),
    url("../fonts/Thin/roboto-thin-webfont.ttf") format("truetype"),
    url("../fonts/Thin/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-thin: robotothin;

@font-face {
  font-family: "robotothin_italic";
  src: url("../fonts/ThinItalic/roboto-thinitalic-webfont.eot");
  src: url("../fonts/ThinItalic/roboto-thinitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ThinItalic/roboto-thinitalic-webfont.woff2") format("woff2"),
    url("../fonts/ThinItalic/roboto-thinitalic-webfont.woff") format("woff"),
    url("../fonts/ThinItalic/roboto-thinitalic-webfont.ttf") format("truetype"),
    url("../fonts/ThinItalic/roboto-thinitalic-webfont.svg#robotothin_italic")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
$font-thin_italic: robotothin_italic;
