$bg-primary-1: #013056;
$bg-primary-2: #1b7fd0;
$bg-primary-3: #caddea;
$bg-primary-4: #f4f6fa;

$btn-primary-1: #dd0000;
$btn-primary-2: #075da2;
$btn-primary-3: #a40000;
$stantart--color_1: #fff;
$stantart--color_2: #000000;
